<div class="column">
  <nav class="panel">
    <p class="panel-heading">Who To Follow</p>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://cdn.pixabay.com/photo/2022/01/29/11/02/cat-6977096_960_720.jpg">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Jake Bill</strong>
            <small>@jake_bill</small>
          </p>
        </div>
      </div>
  </div>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://cdn.pixabay.com/photo/2022/01/29/11/02/cat-6977096_960_720.jpg">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>lake kisom</strong>
            <small>@lake_k</small>
          </p>
        </div>
      </div>
  </div>
</div>
</nav>